* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.about {
    display: flex;
}


.about .left {
    flex : 1 0;
    padding: 50px;
}

.about .left > h1 {
    font-size: 2.5rem;
    color: var(--second-color);
    margin-top: 50px;
}

.about .left > p {
    font-size: 20px;
    margin-top: 20px;
    color: #333;
}


.about .left > button {
    border: none;
    background-color: var(--main-color);
    color: #FFF;
    padding: 10px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.about .right {
    flex: 1 0;
}

.about .right > img {
    width: 100%;
}