
.detail-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    background-color: #f0f0f0;
}


.detail-page .post-container {
    width: 70%;
    margin: 50px auto;
    background-color: #FFF;
    padding: 30px;
    box-shadow: 0px 0px 4px #ff5200;
}


.detail-page .post-container .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.detail-page .post-container .post-header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-page .post-container .post-header div > img {
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.detail-page .post-container .post-header .left .author-date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.detail-page .post-container .post-header .left .author-date > span {
    color: #333;
}

.detail-page .post-container .post-header .left .author-date > span:first-of-type {
    font-weight: bold;
}

.detail-page .post-container .post-header .left .author-date > span:last-of-type {
    font-size: 13px;
    margin-top: 3px;
}


.detail-page .post-container .post-header > button {
    border: none;
    padding: 8px 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}


.detail-page .post-container .post-title {
    color: var(--second-color);
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 22px;
}

.detail-page .post-container .post-body {
    color: #333;
    font-size: 20px;
}


.detail-page h2 {
    margin-bottom: 20px;
}

.detail-page .comments {
    width: 70%;
    background-color: #FFF;
    border: 1px solid #ccc;
    padding: 30px;
    box-shadow: 1px 2px 3px #333;
    margin-bottom: 20px;
}

.detail-page .comments .comment-header {
    margin-bottom: 20px;
}

.detail-page .comments .comment-header .left {
    display: flex;
    align-items: center;
}

.detail-page .comments .comment-header .left > img {
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.detail-page .comments .comment-header .left > p {
    color: #333;
    font-weight: bold;
}


.detail-page .comments .comment-body > p {
    color: #333;
}





